Jano Kianicka <kianicka123jano@yahoo.com> <jano@juliet>
Jonathan Beavers <jbeavers@ssec.wisc.edu> <jonathan.beavers@gmail.com>
Rick Kohrs <rick.kohrs@ssec.wisc.edu>
Tom Rink <rink@ssec.wisc.edu>
Tom Rink <rink@ssec.wisc.edu> <rink@moonunit.local>
Tom Rink <rink@ssec.wisc.edu> <rink@moonunit.ssec.wisc.edu>
Tom Whittaker <whittaker@wisc.edu>
Yuan Ho <yuanho@ucar.edu>
