/* Javadoc style sheet */

/* Define colors, fonts and other style attributes here to override the defaults  */

/* Page background color */
body { background-color: #FFFFF }

/* Table colors */
.TableSummaryHeadingColor    { background: #CCCCFF } /* Dark blue */
.TableInheritedHeadingColor  { background: #EEEEFF } /* Light blue */
.TableRowColor               { background: #FFFFFF } /* White */

/* Font used in left-hand frame lists */

.FrameTitleFont  { font-size: normal; font-family: normal }
.FrameHeadingFont { font-size: normal; font-family: normal }
.FrameItemFont  { font-size: normal; font-family: normal }

/* Example */
/* .FrameItemFont  { font-size: 10pt; font-family: helvetica arial sans-serif } */
